.body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.body a {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

.box-header {
  font-family: Shrikhand;
  text-align: center;
}

.btn {
  border-radius: 30px;
  width: 12rem;
  padding: 0.8rem;
  margin: 1.5rem;
  color: white;
  border: none;
  box-shadow: 3px 3px 3px #d0d0d0;
  background: #ff79da;
}

.box-restaurants div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.box-restaurants div a {
  display: block;
}

.carte {
  background: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.carte img {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
  border-radius: 20px 20px 0 0;
}
.carte figcaption {
  height: 2.6rem;
  padding: 1rem;
}
.carte figcaption p {
  margin: 0;
}

.menu-bulle {
  background: white;
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.menu-bulle b {
  padding-left: 0.5rem;
}
.menu-bulle p {
  margin: 0;
  padding-left: 0.5rem;
}

.box-information {
  text-align: center;
  background-color: #f6f6f6;
  width: 100%;
}
.box-information .lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: #eaeaea;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3) inset;
}
.box-information .lieu p {
  padding-left: 1rem;
  margin: 0;
}
.box-information .decouverte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.box-information .decouverte p {
  margin: 0;
}

.box-fonctionnement {
  padding: 1.313rem;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
}
ol li::before {
  content: counter(li);
  color: white;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: -0.7rem;
}
ol li {
  counter-increment: li;
  background: #f6f6f6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 4.5rem;
  /* padding: 1rem 0rem 1rem 0.6rem; */
}
ol li i {
  padding: 0rem 1.5rem 0rem 1.5rem;
  color: grey;
}

.box-restaurants {
  background-color: #f6f6f6;
  padding: 1.313rem;
  padding-bottom: 3.938rem;
}

.menu-banniere {
  height: 13rem;
  width: 100%;
}

.titre-menu {
  position: relative;
  margin-top: -2rem;
  padding: 1rem;
  border-radius: 30px 30px 0px 0px;
  background-color: #eaeaea;
  z-index: 1;
}
.titre-menu h2 {
  margin: 0;
  font-family: Shrikhand;
}

.mini-menu {
  background: #eaeaea;
  padding: 1rem;
}
.mini-menu h3 {
  margin: 0;
}
.mini-menu hr {
  height: 5px;
  background-color: red;
  width: 3rem;
  display: inline-block;
}
.mini-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.boxfooter {
  background-color: #5a5a5a;
  color: white;
  padding: 1.313rem;
}
.boxfooter h3 {
  font-family: Shrikhand;
  font-size: 20px;
  letter-spacing: 0.011em;
  font-weight: 300;
  margin: 0;
}
.boxfooter .boxfooter_nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boxfooter .boxfooter_nav ul li i {
  width: 20px;
  padding-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
