.menu-bulle {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 4rem;
  border-radius: 15px;
  display: flex;
  @include box-shadow;
  &_description {
    align-self: center;
    padding-left: 0.8rem;
    flex: 1;
    p {
      font-size: 0.9rem;
    }
  }

  &_prix {
    align-self: flex-end;
    padding: 0 1.5rem 0.8rem 0.6rem;
  }
}
