.pop-menu {
  /*  animation: menu-bulle 1s forwards; */
}
.pop-menu li {
  /* animation: menu-bulle 1s forwards; */
  animation-name: menu-bulle;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.pop-menu li:nth-child(1) {
  animation-delay: 0.5s;
}
.pop-menu li:nth-child(2) {
  animation-delay: 0.7s;
}
.pop-menu li:nth-child(3) {
  animation-delay: 0.9s;
}

.menu-bulle {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 4rem;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  @include box-shadow;
  &_description {
    align-self: center;
    padding-left: 0.8rem;
    flex: 1;
    p {
      font-size: 0.9rem;
    }
  }

  &_prix {
    align-self: flex-end;
    padding: 0 1.5rem 0.8rem 0.6rem;
  }
}

.platcheck {
  background-color: $color-tertiaire;
  border-radius: 0 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin-right: -4rem;
  transition: margin-right 0.25s linear;
  i {
    color: white;
    transition: transform 500ms ease-in-out;
  }
}

.selection_plat:checked + .platcheck {
  margin-right: 0;
}

.selection_plat:checked + .platcheck i {
  transform: rotate(1turn);
}
