.box-information {
  text-align: center;
  background-color: #f6f6f6;
  width: 100%;

  .lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background: rgb(234, 234, 234);
    box-shadow: 0px 5px 5px rgb(0 0 0 / 30%) inset;
    p {
      padding-left: 1rem;
      margin: 0;
    }
  }
  .decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

    p {
      margin: 0;
    }
  }
}

.box-restaurants {
  background-color: #f6f6f6;
}
